html, body {
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100%;
  margin: 0;
}

footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

div#__nuxt,
#__layout,
#__layout > div,
#app {
  min-height: 100vh;
  min-width: 100%;
}

.bottom {
  position: fixed;
  text-align: center;
  bottom: 50px;
  width: 100%;
}